# Your MetaMask private key (owner/admin)
PRIVATE_KEY=

# Your MetaMask wallet public address (owner/admin). Ex: 0xE4ffEEd88111e1DFCc3a852d9334C65e38BF2880
WALLET=

# Your token smart contract address. Ex: 0xf2a897B409aC3726da8Eb4928F1ccCe6694d8601
CONTRACT_ADDRESS=

# Your blockchain node RPC server. Ex: https://data-seed-prebsc-1-s1.binance.org:8545/
NODE_URL=
